[Unit]
Description=Bootstrap Services

[Service]
PassEnvironment=SHELL PATH USERNAME USERFULLNAME USEREMAIL PYTHONPATH
Type=simple
ExecStart=/bin/bash -c "/sbin/start.sh"

[Install]
WantedBy=multi-user.target