[Unit]
Description=Code Server IDE

[Service]
Type=simple
PassEnvironment=SHELL PATH
ExecStart=/usr/local/devtools/bin/code-server \
    --bind-addr=0.0.0.0:8081 \
    --auth=none \
    --disable-telemetry \
    --disable-update-check \
    --enable-proposed-api=ms-python.python \
    --enable-proposed-api=ms-toolsai.jupyter

User=USER
Group=USER
WorkingDirectory=/home/USER

[Install]
WantedBy=multi-user.target
