[Unit]
Description=Git Web UI

[Service]
Type=simple
PassEnvironment=SHELL PATH
ExecStart=/usr/local/devtools/bin/ungit \
    --port=8083 \
    --no-launchBrowser \
    --authentication=false \
    --ungitBindIp=0.0.0.0
 
User=USER
Group=USER
WorkingDirectory=/home/USER

[Install]
WantedBy=multi-user.target
