[Unit]
Description=Jupyter Lab

[Service]
Type=simple
PassEnvironment=SHELL PATH
ExecStart=/usr/local/devtools/bin/jupyter lab \
    --no-browser \
    --port 8080 \
    --ip=0.0.0.0
User=USER
Group=USER
WorkingDirectory=/home/USER

[Install]
WantedBy=multi-user.target